{% extends "base.html" %}

{% block content %}
<style>
    .product-container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .product-details {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .product-item {
        padding: 20px;
        border-bottom: 1px solid #ccc;
        transition: background-color 0.3s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-item:last-child {
        border-bottom: none;
    }

    .product-item:hover {
        background-color: #e9e9c0;
    }

    .product-title,
    .product-item strong {
        font-weight: bold;
        color: #333;
    }

    .product-price,
    .product-item {
        color: #555;
    }

    .product-image {
        max-width: 300px;
        height: auto;
        display: block;
        margin: 0 auto;
        border: 2px solid #555;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .rating-review-btn {
        background-color: #008CBA;
        color: #fff;
        padding: 6px 12px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .rating-review-btn:hover {
        background-color: #005F6B;
    }

</style>

<div class="product-container">
    <h1>{{ product.name }}</h1>
    <img src="{{ image_path }}" alt="Product Image" class="product-image">
    <ul class="product-details">
        <li class="product-item"><strong>SKU:</strong> {{ product.sku }}</li>
        <li class="product-item"><strong>Price:</strong> ${{ product.price }}</li>
        <li class="product-item"><strong>Description:</strong> {{ product.item_desc }}</li>
        <li class="product-item"><strong>Category:</strong> {{ product.category }}</li>
        <li class="product-item"><strong>Stock:</strong> {{ product.stock }}</li>
        <li class="product-item"><strong>Rating:</strong> {{ product.item_star }}</li>
        <li class="product-item"><strong>Sizes:</strong> {{ product.itme_sizes }}</li>
        <li class="product-item"><strong>Color:</strong> {{ product.color }}</li>
        <li class="product-item" style="border-bottom: none;"><a href="/product/{{ product.Item_ID }}/rating_review" class="rating-review-btn">Rate and Review this Product</a></li>
    </ul>
</div>
{% endblock %}
